@import '../variables';

html,
body,
#root,
.app {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $input-font-size;
  line-height: $input-line-height;
  color: #fff;
  background-color: $primary-color;
}

.app {
  display: flex;
  flex-direction: column;
}

.map {
  height: 100%;
}
