@import '../variables';

header {
  display: flex;
  align-items: flex-start;
  padding: $gutter;
  flex-shrink: 0;
  z-index: 10;
  background-color: $primary-color;

  .logo {
    height: $logo-height;
    width: $logo-width;
    background-image: url(../static/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    flex-shrink: 0;

    @media (max-width: $total-header-desktop-width) {
      background-image: url(../static/logo-tablet.svg);
      height: $logo-tablet-height;
      width: $logo-tablet-width;
    }

    @media (max-width: $total-header-tablet-width) {
      background-image: url(../static/logo.svg);
      height: $logo-mobile-height;
      width: 100%;
      margin: auto auto $gutter-tablet;
    }
  }

  @media (max-width: $total-header-tablet-width) {
    padding: $gutter-tablet;
    display: block;
  }
}
